$accent-color: #E6194B;
$accent-color75: #EF6C8C;
$accent-color50: rgb(230, 167, 184);

$thread-color: lightgrey;
$thread-color-hovered: $accent-color;
$thread-margin-left: 5px;
$thread-width: 16px;
$thread-line-width: 2px;

$meta-data-color: darkgrey;
$meta-data-color50: lightgrey;
$action-button-color: darkgrey;
$action-button-hover-color: rgb(91, 91, 91);

$vote-buttons-height: 40px;
$upvote-hover-color: blue;
$downvote-hover-color: red;
