@import '../../styles/variables';

.vote-buttons {
    position: absolute;
    margin: 1em 0 0 0.68em;
    max-height: $vote-buttons-height;
    text-align: center;
}

.vote-buttons > button {
    display: block;
    color: $action-button-color;

    background: transparent;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    padding: initial;
    outline: 0;
}

.upvote:hover, .upvote-selected {
    color: $upvote-hover-color;
}

.downvote:hover, .downvote-selected {
    color: $downvote-hover-color;
}
