@import '../../styles/variables';

.comment-container {
    min-height: 5em;
    padding: 1em 0 0 0;
}

.comment-body {
    margin: 0.5em 0 0.8em 0;
}

.comment-row {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;

    &.comment-header {
        font-size: 0.8em;
        color: $meta-data-color;
    }

    &.comment-footer {
        font-size: 0.9em;
        font-weight: 600;
    }
}
.comment-row > a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.comment-row > a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
}
.comment-row > button {
    color: $action-button-color;

    background: transparent;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    padding: initial;
    outline: 0;
}
.comment-row > button:hover {
    text-decoration: underline;
    color: $action-button-hover-color;
}

.comment-row-item {
    margin-right: 0.5em;

    &.comment-row-item-collapsed {
        color: $meta-data-color50;
    }

    &.comment-row-item-author {
        color: $accent-color75;
    }

    &.comment-row-item-author-collapsed {
        color: $accent-color50;
    }
}
