@import '../../styles/variables';

.thread {
    display: inline-block;
    height: 100%;
    margin-left: $thread-margin-left;
    width: $thread-width;
}

.thread-line {
    cursor: pointer;
    display: block;
    height: 100%;
    border-right: $thread-line-width solid $thread-color;

    &.root-thread-line {
        height: calc(100% - #{$vote-buttons-height});
        position: absolute;
        bottom: 0;
        width: $thread-width - $thread-line-width;
    }

    &.thread-line-hovered {
        border-right: $thread-line-width solid $thread-color-hovered;
    }
}
